## Visual Studio Build and Release Outputs
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## Visual Studio Cache and User Settings
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## VS Code Settings
.vscode/

## Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini